* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: rgb(79, 202, 202);
padding: 20px;
text-align: center;
}

h1 {
    color:black;
    front-family: "Arial",sans-serif;
    font-size: 40px; 
}

p {
    font-family: "verdana",sans-serif;
    font-size: 20px;
    
}
nav {

    background-color: rgb(54, 133, 202);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
 a{
    
    text-decoration: none;
    padding:5px 5px 10px 15px;
}

a {
font-family: "verdana", sans-serif;
font-size: 16px;
color: black;
padding: 10px;
text-decoration: none;
text-align: center;
font-weight: bold;

}

a:hover {
    background-color: aliceblue ;
    transition: background-color 0.4s;
}
 main {
height: 300vh;
padding:0px 20px
 }
nome-do-autor {
   display: flex;
   flex-direction: column;
   margin: 10px 0px;
}    
 section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black(248,217,252);
    padding: 30px;
    width: 800px;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px; 
}

section h2 {
    font-family: "arial",sans-serif;
    font-size: 28px;
    color:aliceblue(7,1,12);
    text-align: center;

}

section h3 {
    font-family: "arial", sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    color: beige(179,119,235);
     }
 
section p {
    line-height: 1.6;
    font-size: 16px;
    color: aliceblue(2,1,1);

}

img {
    max-width: 80%;
    margin-top: 10px;
}











    